extends ./layout/index

block contenido
  main(class="w-11/12 max-w-screen-xl mx-auto")
    h1(class="mb-12 text-4xl text-center font-bold uppercase text-sky-700 md:text-5xl lg:text-6xl")= pagina

    section(class="mb-10 max-w-xl mx-auto")
      article(class="bg-white shadow-2xl rounded-lg overflow-hidden")
        img(class="w-full object-cover object-center hover:scale-105 transition-transform duration-500 ease-in-out" src=`/img/destinos_${viaje.imagen}.jpg` alt=viaje.titulo)

        div(class="p-4")
          h3(class="mb-2 text-2xl font-bold uppercase text-sky-700")= viaje.titulo

          div(class="flex gap-1")
            svg.icon.icon-tabler.icon-tabler-calendar-month(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z')
              path(d='M16 3v4')
              path(d='M8 3v4')
              path(d='M4 11h16')
              path(d='M7 14h.013')
              path(d='M10.01 14h.005')
              path(d='M13.01 14h.005')
              path(d='M16.015 14h.005')
              path(d='M13.015 17h.005')
              path(d='M7.01 17h.005')
              path(d='M10.01 17h.005')

            p(class="mb-2 font-semibold text-gray-700") Fecha:
              time(class="text-sm font-normal text-sky-600")   #{viaje.fecha_ida} / #{viaje.fecha_vuelta}

          div(class="flex gap-1")
            svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
              path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
              path(d='M16 3.13a4 4 0 0 1 0 7.75')
              path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')

            p(class="mb-2 font-semibold text-gray-700") Disponibles: 
              span(class="text-sm font-normal text-sky-600")= viaje.disponibles

          div(class="flex gap-1")
            svg.icon.icon-tabler.icon-tabler-premium-rights(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
              path(d='M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75')
              path(d='M12 7v2')
              path(d='M12 15v2')

            p(class="mb-4 font-semibold text-gray-700") Precio: 
              span(class="text-sm font-normal text-sky-600")= viaje.precio

          p(class="mb-4 text-gray-600")= viaje.descripcion
